meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Uso de ciclos de repetición en Java
meta(meta name="description" content="En este material de formación se estudiará la utilización y la sintaxis de los diferentes ciclos de repetición en el lenguaje Java; se trata del segundo tipo de instrucciones de mayor complejidad, las cuales también contribuyen al control del flujo de los programas, en este caso, relacionadas con la ejecución de órdenes repetitivas comunes en la escritura de este tipo de códigos.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")