.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Variables y estructuras de control en la programación orientada a objetos Java
            h1.curso-titulo Uso de ciclos de repetición en Java

            .brand-line-primary

            p.curso-descripcion En este material de formación se estudiará la utilización y la sintaxis de los diferentes ciclos de repetición en el lenguaje Java; se trata del segundo tipo de instrucciones de mayor complejidad, las cuales también contribuyen al control del flujo de los programas, en este caso, relacionadas con la ejecución de órdenes repetitivas comunes en la escritura de este tipo de códigos. 
 


            a.curso-btn-iniciar.btn.btn-light(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")