.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Nombre del material
                th Tipo de material
                th Enlace del recurso

        tbody

            tr
                td Programación Orientada a Objetos en Java a través de ejemplos
                td PDF
                td 
                    a(href="media/documentos/complementarios/MC_AA4_Programacion_OrientadaObjetos_Java_Ejemplos.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                                  